a.right.align{
    margin-left:60px;
}


.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input::before {
    content: 'Acqusition';
    text-align: center;
    display: inline-block;
    background:skyblue;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    width: 200px;
    margin-left: 60px;
    margin-right: 20px;
  }
  .custom-file-input:hover::before {
    border-color: black;
   
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    
  }

  #box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    margin-left: 20px;
    margin-top: 60;
  }
  
  #box1 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    margin-left:500px;
    margin-top:-300px;
    
  }
  

button.btn.waves-effect.waves-light{
    margin-left: 340px;
}

#button{
    margin-left: 80px;
   
    

}

a.btn.waves-effect.waves-light.blue.accent-4{
  padding-right: 40px;
    padding-left: 40px;
}

button.btn.waves-effect.waves-light.blue.accent-4{
  padding-left: 40px;
  padding-right: 40px;

}

#button1{
    margin-left:200px;
    margin-top: -40px;
}


#button2{
    margin-left: 85px;
  }

#button3{
    margin-left:230px;
    margin-top: -40px;
 
}

button.btn.waves-effect.waves-light.blue.accent-4{
  padding-left: 50px;
  padding-right:50px;
}




h1{
    margin-left: 580px;
    margin-top: -30px;
    font-size: 50px;
    color:white;
}


a.brand-logo{
position: 25px;
left: 25px;
}

body{
  background-color:rgb(33, 33, 119);
}
 



.input-field.col.s6.offsetl4{
  margin-left: 950px;
  width:30%;
}


h4#features\ button{
  margin-left: 40%;
  color:white;
}

footer{
  position:fixed;
	bottom: 0;
  left:0;
  width:100%;
	

}


